:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #cfcfff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  /* General */

  body {
    display: flex;
    flex-direction: column;
    background-color: magenta;
    margin: 0;
    overflow: hidden;
    height: 100vh;
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  header, footer {
    display: none;
    overflow: hidden;
    flex-shrink: 0;
    color: white;
    padding: 1em;
  }

  header {
    padding-left: 2vw;
  }

  .content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  footer {
    /* display: none; */
  }

  nav {
    width: 25vw;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
  }

  main {
    box-sizing: border-box;
    flex: 1 0 auto;
  }

  .component {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .component-header, .component-footer {
    padding: 10px;
  }

  .component-main {
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 10px;
  }

  /* General types */

  .header-content {
    background-color: mediumseagreen;
    color: white;
  }

  .footer-content {
    background-color: mediumseagreen;
    color: white;
  }

  .nav-content {
    background-color: black;
    color: white;
  }

  .primary-content {
    background-color: white;
    color: black;
  }

  .secondary-content {
    background-color: lightgrey;
    color: black;
  }

  /* Individual components */

  .debug {
    display: none;
  }

  #context {
    display: none;
  }

  nav ul {
    list-style: none;
  }

  /* Links */

  .link {
    color: #0275d8;
    background-color: #eee;
  }

  .link:hover {
    cursor:pointer;
    color: #01447e;
    background-color: aqua;
  }

  /* Custom Query */

  #custom-query {
    display: none;
  }

  /* Table */

  th, td {
    border: 1px solid black;
    border-right-width:0;
    border-bottom-width: 0;
    padding: 5px;
    margin: 0;  
  }

  td:nth-last-child(1) {
    border-right-width: 1px;
  }
  tr:nth-last-child(1) td {
    border-bottom-width: 1px;
  }
  
  th {
    background-color: black;
  }

  th {
    color: #cfcfcf;
  }

  tr:nth-child(even) {
    background-color: darkgray;
  }
  tr:nth-child(odd) {
    background-color: lightgray;
  }

  td .Text {
    background-color: white;
  }

  td .Text {
    background-color: white;
  }

  /* Breadcrumbs */

  ul.breadcrumb {
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    padding: 3px 3px;
    margin: 0;
    text-decoration: none;
  }

  ul.breadcrumb li.breadcrumb_separator {
    padding-left: 0;
    padding-right: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  ul.breadcrumb li.link {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  ul.breadcrumb li.link:hover {

  }
