:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #cfcfff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  #long-duration-callback p {
    visibility: hidden;
  }

  #long-duration-callback.selected p {
    visibility: visible;
    background-color: lightblue;
  }

  th {
    background-color: black;
  }

  th {
    color: #cfcfcf;
  }

  tr:nth-child(even) {
    background-color: darkgray;
  }
  tr:nth-child(odd) {
    background-color: lightgray;
  }

  /* Breadcrumbs */

  ul.breadcrumb {
    /* Pixel? Dumme Idee, oder? Was statt dessen? */
    padding: 10px 16px;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    padding: 3px 3px;
    margin: 0;
    text-decoration: none;
  }

  ul.breadcrumb li.breadcrumb_separator {
    padding-left: 0;
    padding-right: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  ul.breadcrumb li.link {
    color: #0275d8;
    background-color: #eee;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  ul.breadcrumb li.link:hover {
    cursor:pointer;
    color: #01447e;
    background-color: aqua;
  }
